extends layout
block content
	link(rel="stylesheet", href="/stylesheets/about.css")
	.about.col-sm-12
		h1.col-sm-12.text-center(style='padding:0;') About Us
		.col-sm-12.about-d
			.col-sm-8.col-sm-offset-2.about-details
				p Lighthouse Parish, a.k.a The City Of His Presence is a parish of the Redeemed Christian Church of God Ebonyi Province 1 Abakaliki Nigeria. We are out to win souls for the Glory of God. Our services are power-packed, capable of bringing you into God's desired destiny for you life.
				p We beleive that you are here by divine ordination. God has something in store for you. Worship with us and see the goodness of God begin to manifest in your life daily!
				h3 Our History
				p LIGHTHOUSE PARISH (LH) is a vibrant RCCG Parish in Ebonyi Province 1,Goshen Area Abakaliki Ebony state: Light House is part of the great commission of the Redeemed Christian Church of God. RCCG LIGHTHOUSE is a parish that was Planted in November 2015 by Rccg Goshen Area and inugurated by Pst Nathenel Adejuwon. (Pastor in charge of Region).The Pastor in charge of Parish is Dcn Olaniyan Adewale and Assisted ny Bro Peter Elem. The present General Overseer is Pastor E.A.Adeboye. We operate an open door policy and welcome everyone irrespective of their race, gender, religion or belief,disability and age.
				h3 Our Vision
				p Our vision is to be a generation that brings light to our dark and stormy world through our words, appearance and conduct, thereby leading lost souls to the safety of our Lord Jesus Christ.
				h3 Mission Statement
				p Our Parish Exists to equip God's people for works of service,shapening of destiny and building up of the body of Christ. We accomplish this by helping each individual DISCOVER, DEVELOP and DEPLOY their gifts. We aim to build a community of people whose aim would be a life of Daily Living, Daily Giving. People whose lives would revolve around serving others in the name of Jesus Christ.
		.col-sm-12.about-activities
			hr(style='margin-top:0px;')
			.col-sm-10.col-sm-offset-1
				h2.col-sm-12 Service Times
				.col-sm-4
					h4 Sundays | Worship
					p Worship Service | 8:00AM
				.col-sm-4
					h4 Tuesdays | Bible Study
					p Digging Deep | 5:00PM
				.col-sm-4
					h4 Thursdays | Prayers
					p Faith Clinic | 5:00PM
		
		.col-sm-12.about-pastors
			.col-sm-8.col-sm-offset-2
				h3 Our Pastors
				.col-xs-6
					.profile
						img(src='/images/pastor-image.jpg', alt='pst-image')
						p
							b Olaniyan Adewale, Parish Pastor
				.col-xs-6
					.profile
						img(src='/images/ast-pastor-image.jpg', alt='pst-image')
						p
							b Peter Elem, Assitant Pastor