extends layout
block content
	link(rel="stylesheet", href="/stylesheets/about.css")
	.about.col-sm-12
		h1.col-sm-12.text-center(style='padding:0;') About Us
		.col-sm-12.about-d
			.col-sm-8.col-sm-offset-2.about-details
				p Lighthouse Parish, a.k.a The City Of His Presence is a parish of the Redeemed Christian Church of God Ebonyi Province 1 Abakaliki Nigeria. We are out to win souls for the Glory of God. Our services are power-packed, capable of bringing you into God's desired destiny for you life.
				p We beleive that you are here by divine ordination. God has something in store for you. Worship with us and see the goodness of God begin to manifest in your life daily!
				
		.col-sm-12.about-activities
			hr(style='margin-top:0px;')
			.col-sm-10.col-sm-offset-1
				h2.col-sm-12 Service Times
				.col-sm-4
					h4 Sundays | Worship
					p Worship Service | 8:00AM
				.col-sm-4
					h4 Tuesdays | Bible Study
					p Digging Deep | 5:00PM
				.col-sm-4
					h4 Thursdays | Prayers
					p Faith Clinic | 5:00PM
		
		.col-sm-12.about-pastors
			.col-sm-8.col-sm-offset-2
				h3 Our Pastors
				.col-xs-6
					.profile
						img(src='/images/pastor-image.jpg', alt='pst-image')
						p
							b Olaniyan Adewale, Parish Pastor
				.col-xs-6
					.profile
						img(src='/images/ast-pastor-image.jpg', alt='pst-image')
						p
							b Peter Elem, Assitant Pastor