extends layout
block content
	link(href='https://unpkg.com/nanogallery2@2.0.0/dist/css/nanogallery2.min.css', rel='stylesheet', type='text/css')
	link(rel="stylesheet", href="/stylesheets/about.css")
	script(type='text/javascript', src='https://unpkg.com/nanogallery2@2.0.0/dist/jquery.nanogallery2.min.js')
	.gallery
		div.gallery(data-nanogallery2='{    "thumbnailWidth": "200",    "colorScheme": {    "thumbnail": {    "background": "rgba(81,140,163,1)"    }    },    "thumbnailDisplayTransition": "scaleUp",    "thumbnailHoverEffect2": "imageScaleIn80|imageSepiaOff|labelAppear75" ,"galleryDisplayMode": "moreButton","galleryLastRowFull": true   }')
			if(images && images == null || images == undefined)
				p.bg-danger You are not connected to the internet. Pls check your connection and reload the page
			if(images)
				each image in images
					a(href=image.imgSrc, data-ngthumb=image.imgSrc, data-ngdesc=image.desc)
		

