extends layout
block content
	<!-- Start WOWSlider.com HEAD section -->
	link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")
	<!-- End WOWSlider.com HEAD section -->
	// Start WOWSlider.com BODY section
	#wowslider-container1
		.ws_images
			ul
				li
					img#wows1_0(src='/images/1.jpg', alt='The first image', title='The first image')
				li
					img#wows1_1(src='/images/2.jpg', alt='2', title='2')
				li
					img#wows1_2(src='/images/3.jpg', alt='3', title='3')
				li
					img#wows1_3(src='/images/4.jpg', alt='4', title='4')
				li
					img#wows1_4(src='/images/5.jpg', alt='html slideshow', title='5')
				li
					img#wows1_5(src='/images/6.jpg', alt='6', title='6')
		.ws_bullets
			div
				a(href='#', title='The first image')
					span
						img(src='/data1/tooltips/1.jpg', alt='The first image')
				a(href='#', title='2')
					span
						img(src='/data1/tooltips/2.jpg', alt='2')
				a(href='#', title='3')
					span
						img(src='/data1/tooltips/3.jpg', alt='3')
				a(href='#', title='4')
					span
						img(src='/data1/tooltips/4.jpg', alt='4')
				a(href='#', title='5')
					span
						img(src='/data1/tooltips/5.jpg', alt='5')
				a(href='#', title='6')
					span
						img(src='/data1/tooltips/6.jpg', alt='6')
		.ws_script(style='position:absolute;left:-99%')
			a(href='#')
		.ws_shadow
		
	.welcome.col-sm-10.col-sm-offset-1
		.col-sm-8.who-we-are
			h3 You are welcome
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam omnis maxime architecto eius ducimus! Tempora doloremque totam laudantium magnam veritatis voluptas veniam quia corporis aut quos, hic saepe voluptatibus quae?
			p Lorem ipsum dolor sit amet ctus repellendus quasi eveniet at eum dolor animi repudiandae vel officia tempora sapiente, qui laudantium?
		.col-sm-4.latest-events
			h3 Upcoming Events
			div.clear-fix
				div.events-icon
					p: i.fa.fa-calendar
				div.events-txt
					h5(style='margin-top:5px;margin-bottom:6px;') Cultural Sunday
					p 1 April, 2018
			div.clear-fix
				div.events-icon
					p: i.fa.fa-calendar
				div.events-txt
					h5 Holy Comuniun Service
					p 1 April, 2018
			p: a(href='/events' style='padding-top:20px;color:#687886') See more upcoming events   
				span: i.fa.fa-arrow-right
	.sermon-update.col-sm-12(style='background-color:#f9f7f7;')
		.col-sm-8.col-sm-offset-2
			h2.text-center: b Recent Sermons
			.col-sm-3.sermon-update-img
				if(sermons)
					a(href='/sermons/'): img(src='/images/sermon-latest.jpg', alt="Sermon_img")
			.col-sm-9.sermon-update-detail
				if(sermons)
					each sermon in sermons
						.nth-sermon
							h3: a(href='/sermons/' + sermon.link) #{sermon.title}
							p #{sermon.date}
	script(type='text/javascript', src='/javascripts/wowslider.js')
	script(type='text/javascript', src='/javascripts/script.js')
			
		

