extends layout
block content
	<!-- Start WOWSlider.com HEAD section -->
	link(rel="stylesheet" type="text/css" href="/stylesheets/slider.css")
	link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")
	script(type='text/javascript', src='/javascripts/jssor.slider-27.1.0.min.js')
	script(type='text/javascript', src='/javascripts/slider.js')
	<!-- End WOWSlider.com HEAD section -->
	.col-sm-12#jssor_1(style="position:relative;margin:0 auto;top:0px;left:0px;width:1200px;height:515px;overflow:hidden;visibility:hidden;")
		<!-- Loading Screen -->
		div(data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);")
			img(style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="/images/spin.svg")
		div(data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:1200px;height:515px;overflow:hidden;")
			div(data-fillmode="0" data-p="210.00")
				img(data-u="image" src="/images/home.jpg")
				div(u="thumb") 
			div(data-fillmode="0" data-p="210.00")
				img(data-u="image" src="/images/flier.jpg")
				div(u="thumb")
		<!-- Arrow Navigator -->
		div.jssora061(data-u="arrowleft" style="width:55px;height:55px;top:0px;left:25px;" data-autocenter="2" data-scale="0.75" data-scale-left="0.75")
			svg(viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;")
				path.a(d="M11949,1919L5964.9,7771.7c-127.9,125.5-127.9,329.1,0,454.9L11949,14079")
		div.jssora061(data-u="arrowright" style="width:55px;height:55px;top:0px;right:25px;" data-autocenter="2" data-scale="0.75" data-scale-right="0.75")
			svg(viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;")
				path.a(d="M5869,1919l5984.1,5852.7c127.9,125.5,127.9,329.1,0,454.9L5869,14079")
		
	.welcome.col-sm-10.col-sm-offset-1
		.col-sm-8.who-we-are
			h3 You are welcome
			p We are a parish of the Redeemed Christian Church of God Goshen area of Ebonyi Province 1 Abakaliki, Nigeria. Our desire is to partner with Jesus to both see His children awoken to their true identity as sons and daughters of God and see His kingdom established on earth in its fullest expression.
			p We beleive that here you will find what you are looking for. You are welcome!
		.col-sm-4.latest-events
			h3 Upcoming Events
			div.clear-fix
				div.events-icon
					p: i.fa.fa-calendar
				div.events-txt
					h5(style='margin-top:5px;margin-bottom:6px;') Cultural Sunday
					p 1 April, 2018
			div.clear-fix
				div.events-icon
					p: i.fa.fa-calendar
				div.events-txt
					h5 Holy Comuniun Service
					p 1 April, 2018
			p: a(href='/events' style='padding-top:20px;color:#687886') See more upcoming events   
				span: i.fa.fa-arrow-right
	.sermon-update.col-sm-12(style='background-color:#f9f7f7;')
		.col-sm-8.col-sm-offset-2
			h2.text-center: b Recent Sermons
			.col-sm-3.sermon-update-img
				if(sermons)
					a(href='/sermons/'): img(src='/images/sermon-latest.jpg', alt="Sermon_img")
			.col-sm-9.sermon-update-detail
				if(sermons)
					each sermon in sermons
						.nth-sermon
							h3: a(href='/sermons/' + sermon.link) #{sermon.title}
							p #{sermon.date}
	script.
		jssor_1_slider_init()
							
	
			
		

