extends layout
block content
	.col-sm-12.slider
		.slide.active
			.col-sm-12(style='padding:0px;')
				//img(src="/img/persian-oak-wood-3064187_1280.jpg", alt="")
			.col-sm-8.col-sm-offset-2.slide-inner
				
				h1 You Are Welcome
				p One of the best ways to connect with God is through our
				p.cta
					a(href="/about" style='margin-right:20px;') Learn More about Us
					a(href="/about") View Worship Times
		.slide
			.col-sm-12(style='padding:0px;')
				//img(src="/img/on-wood-2157535_1280.jpg", alt="")
			.col-sm-8.col-sm-offset-2.slide-inner
				h1 Sharing the gospel of christ
				p For God so loved the world that He gave us His only son. It is our mission to tell the world of what God has given us
				p.text-center(style='color:#00B7FF;padding-top:10px;') WORSHIPING | FELLOWSHIPPING | SHARING
		
				
		.slide
			.col-sm-8.col-sm-offset-2.slide-inner
				h1 IN HIS PRESENCE
				hr
				p.text-center THERE IS FULLNESS OF JOY
	.welcome.col-sm-10.col-sm-offset-1
		.col-sm-8.who-we-are
			h3 You are welcome
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam omnis maxime architecto eius ducimus! Tempora doloremque totam laudantium magnam veritatis voluptas veniam quia corporis aut quos, hic saepe voluptatibus quae?
			p Lorem ipsum dolor sit amet ctus repellendus quasi eveniet at eum dolor animi repudiandae vel officia tempora sapiente, qui laudantium?
		.col-sm-4.latest-events
			h3 Upcoming Events
			div.clear-fix
				div(style='float:left;background:white;width:20%;height:50px;font-size:40px;')
					p: i.fa.fa-calendar
				div(style='float:left;background:pin;width:80%;height:50px;font-family:cursive')
					h5(style='margin-top:5px;margin-bottom:6px;') Cultural Sunday
					p 1 April, 2018
			div.clear-fix
				div(style='float:left;background:white;width:20%;height:50px;font-size:40px;')
					p: i.fa.fa-calendar
				div(style='float:left;background:pin;width:80%;height:50px;font-family:cursive')
					h5(style='margin-top:5px;margin-bottom:6px;') Holy Comuniun Service
					p 1 April, 2018
			p: a(href='/events' style='padding-top:20px;color:#687886') See more upcoming events   
				span: i.fa.fa-arrow-right
	.sermon-update.col-sm-12(style='background-color:#f9f7f7;')
		.col-sm-8.col-sm-offset-2
			h2.text-center: b Recent Sermons
			.col-sm-3.sermon-update-img
				if(sermons)
					a(href='/sermons/'): img(src='/images/sermon-latest.jpg', alt="Sermon_img")
			.col-sm-9.sermon-update-detail
				if(sermons)
					each sermon in sermons
						.nth-sermon
							h3: a(href='/sermons/' + sermon.link) #{sermon.title}
							p #{sermon.date}
			
			
		

