extends layout
block content
    .col-sm-12(style='min-height:350px;border-bottom:1px solid #ddd;')
        h2.text-center(style='margin-top:10%;') Test completed
        p.text-center  If you are seeing this page, it either means that you have successfully completed this quiz or you ran out of time. 
        p.text-center Winners will be published on this website on the 5th of June and will be contacted. SignUp below to recieve news and updates


