extends layout
block content
    h1.text-center Welcome to the quiz
    h3.text-center How much do you know about RCCG ?
    p.text-center You have 2 minutes to complete the quiz. Goodluck !
    p.text-center
        button.btn.btn-primary: a(href="/quiz" style='color:#fff') Start quiz