@font-face {
    font-family: 'Acumin Pro';
    font-style: normal;
    font-weight: normal;
    src: local('Acumin Pro Bold'), url('../fonts/Acumin-BdPro.woff') format('woff');
    }
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Open+Sans|Karma:300,400|Lobster);
html {
    font-size: 1em;
    line-height: 1.4;
    font-family: "Titillium Web","Open Sans", sans-serif;
    
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   My custom styles
   ========================================================================== */
body{
    padding:0;
    margin:0;
    font-family: 'Titillium Web', sans-serif;
    overflow-x: hidden;
}
.naver{
    width:100%;
    min-height:10px;
    background:skyblu;
    overflow:aut;
    position: absolute;
    top:0;
    z-index: 10;
    box-shadow:0 1px 6px rgba(57,73,76,.35);
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s ease;
    padding-top: 60px;
}


.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s ease-in-out;
}
.sidenav .dropdwn{
    padding-left:0px;
    margin-left:0px;
    background:plu;
    transition: .5s ease-in-out;
}
.sidenav .dropdwn-content{
    list-style: none;
    display:none;
    padding:0px;
    margin-left:0px;
    margin-top:0px;
    background: indianre;
    transition: .5s ease-in-out;
}
.sidenav .dropdwn-content li{
    line-height: 1.5em;
    background-color:purpl;
    margin-top:0px;
    padding:0px;
}
.sidenav .dropdwn-content a{
    font-size: 18px;
    padding:8px 0px 8px 40px;
}
.sidenav .dropdwn-content a:first-of-type{
    padding-top:0px;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.open{
    display:none;
}
.openbtn{
    font-size:40px;
    cursor:pointer;
    color:#3a3737;
    text-align: right;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    width:100%;
    transition: margin-left .5s;
    padding: 16px;
}
.header-nav-bgrd{
	width:100%;
    background-color:#fff;
    
}
.header-liner{
    width:100%;
    height: 30px;
    background-color: #2ac4ea;
    color:#fff;
}
.header-liner a{
    color:#fff;
    margin-right:5px;
    font-size: 12px;
}
.naver{
    background-color:aqu;
    position: relative;
}
.naver .header-left{
    background:tea;
    width:290px;
    padding:0%;
    margin-top:5px;
}
.header-left .logos{
    background:gree;
    width:100%;
    padding:0% 10%;
}
.header-left .logos a:hover{
    text-decoration:none;
}
.header-left .logos img{
    width:70px;
    height:70px;
    margin-right:px;
    margin-top:10px;
    border-radius:50%;
    display:block;
}
.header-left .logos a{
    font-family: 'Lobster', cursive;
    font-size: 3em;
    font-weight: bold;
    color:#2ac4ea;
    display:block;
    float:left;
    background:per;
    width:80px;
    height: 100px;
}
.header-left .logos a:nth-of-type(2){
    width:150px;
    background:yello;
}
.header-left .logos a h1{
    margin-top:8px;
}
.header-left .logos a p{
    color:#999;
}
.header-right{
    background:tomat;
    width:650px;
    padding-top:15px;
}
.header-right ul{
    background:peachpuf;
    padding:15px;
    width:fit-content;
    margin-bottom:0px;
}
 .header-right>ul>li{
    display:inline;
    background-color: per;
    padding:15px;
    margin-right:10px;
}
.header-right ul li:last-of-type{
    margin-right:0%;
}
.header-right>ul>li:hover{
    padding:13px;
    border:2px solid #2ac4ea;
}
.header-right .dropdwn{
    position: relative;
    display:inline-block;
}
.header-right .dropdwn>li{
    list-style: none;
    padding:15px;
    margin-right:10px;
}
.header-right .dropdwn>li>a{
    color:#716f6f;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
}
.header-right .dropdwn:hover .dropdwn-content{
    opacity:1;
    visibility: visible;
}
.header-right ul .dropdwn .dropdwn-content{
    opacity:0;
    visibility: hidden;
    transition: opacity .5s ease-in-out;
    position: absolute;
    list-style: none;
    background-color: greenyellow;
    width:200px;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.header-right .dropdwn>li ul a{
    color:#fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
}
.header-right .dropdwn .dropdwn-content a:hover{
    color:#999;
}
.header-right>ul>li>a{
    color:#716f6f;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding:15px 0px;
}
.header-right ul li>a:hover, a:active{
    text-decoration: none;
}

.slider{
    background-color: grey;
    background-image: url(/images/slider-bgrd.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:px;
    width:100%;
    margin:0px;
    padding:0px;
    height: /*js*/xpx;
    min-width:300px;
    position: fixe;
    overflow: hidden;
}
  
  .slide {
    height: 600px;
    position: absolute;
    transition: 1s ease-in-out;
    transform: translate(-100%, 0);     /* Move slides off to the left  by default*/
  }
  .slider .active {       /* Set active slide to be in the viewport*/
    transform: translate(0, 0);
  }
  .slider .active ~ .slide {    /*Use sibling selector to position all slides after the active slide to the right */
    transform: translate(100%, 0);
  }
  
  
  
  .slide {
    text-align: left;
    width:100%;
    color: white;
    padding: px;
    background-color: rgba(0,0,0,0.3);
    left:-10px;
  }
  .slide .slide-inner{
    background:tomat;
    margin-top:100px;
  }
  .slide img{
      width:100%;
      height: inherit;
      position: relative;
  }
  .slide .slide-inner h1{
    text-transform:uppercase;
    text-align:center;
  }
  .slide .slide-inner p{
    display:block;
    margin-top:3%;
    margin-bottom:px;
    background:yello;
    font-size: 20px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
  }
  .slide .slide-inner .cta{
      margin-top:3%;
  }
  .slide .slide-inner p a{
    display:inline-block;
    background:#2ac4ea;
    color:#fff;
    font-weight: 200;
    padding:20px;
  }
  .slide .slide-inner p a:hover{
      text-decoration: none;
      
  }
  /*End Slider*/


.welcome{
    padding:3% 0%;
    background-color:per;
}

.welcome .who-we-are h3{
    text-align:center;
    overflow: hidden;
    color: #2ac4ea;
    font-weight: bold;
}
 .welcome .who-we-are p{
    font-family: 'Titillium Web', sans-serif;
    font-size:16px;
 }
.welcome .who-we-are h3:before,
.welcome .who-we-are h3:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.welcome .who-we-are h3:before {
  right: 0.5em;
  margin-left: -50%;
}

.welcome .who-we-are h3:after {
  left: 0.5em;
  margin-right: -50%;
}

.welcome .latest-events{
    overflow:hidden;
    /*background-colo: #888888;*/
    
}
.welcome .latest-events h3{
    color:#2ac4ea;
}
.welcome .latest-events .fa-calenda{color:#2ac4ea;}

.events-icon{
    float:left;background:white;width:20%;height:50px;font-size:40px;
}
.events-txt{
    float:left;background:pin;width:80%;height:50px;font-family:cursive
}
.events-txt h5{
    margin-top:5px;margin-bottom:6px;
}


/* Newsletter */
.newsletter{
    background-color: #fff;
    padding:5%;
    font-family: 'Karma', serif;
}
.newsletter h2{
    font-weight: lighter;
    color: rgba(0, 0, 0, .5);
}
.newsletter p{
    font-weight: normal;
    color:#272727;
}
.newsletter form{
    margin-bottom: 3%;
    background-color:brow;
}
.newsletter form .inputs{
    width:40%;
    background-color:aquamarin;
    
}
.newsletter form input{
    padding:10px;

}
.newsletter form input:first-of-type{
    width:70%;
    color:#333;
}
.newsletter form input:nth-of-type(2){
    width:25%;
}
.newsletter form .btn{
    background-color:greenyellow;
    border-radius: 0px;
}
.newsletter .social a{
    color:greenyellow;
}


/* footer */
footer{
    background-color:#201a16;
    color:#fff;
    font-family: 'Open Sans';
    padding:3px;
    position: absolute;
    bottom:0px;
}
footer .social{
    background-color:tea;
    padding:20px;
    width:260px;
    width:fit-content;
}
footer .social a{
    background-color:#999;
    color:#fff;
    display:inline-block;
    width:50px;
    height: 50px;
    border-radius:50%;
    margin-right:15px;
    font-size: 22px;
    transition: .3s;
}
footer .social a:hover{
    background-color:#2ac4ea;
}
footer .social a p{
    padding-top:22%;
    
}
footer ul{
    list-style: none;
    background:blu;
    padding:0px;
    line-height: 2.5em;
    margin-top:5%;
    padding-left:0;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    margin-bottom:20px;
}

footer ul:first-of-type li a{
    color:#fff;
    font-size: 20px;
    
}
footer ul h3{
    margin-top:0px;
}
footer ul p{
    font-size: 20px;
    font-weight: 200;
}


/* Index css */

.sermon-update{
    background:yello;
    padding:0px;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    padding-top:10px;
    padding-bottom:10px;
}
.sermon-update .sermon-update-detail{
    background:pin;
    margin-bottom: 5%;
}

.sermon-update h2{
    font-family: 'Titillium Web', sans-serif;
    font-size: 28px;
    margin-bottom: 5%;
    overflow: hidden;
}
.sermon-update h2:before,
.sermon-update h2:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.sermon-update h2:before {
  right: 0.5em;
  margin-left: -50%;
}

.sermon-update h2:after {
  left: 0.5em;
  margin-right: -50%;
}
.sermon-update a{
    color:#000;
}
.sermon-update a:hover{
    text-decoration: none;
}

.sermon-update .sermon-update-img{
    background: khaki;
    min-height: 160px;
    padding:0px;
}
.sermon-update .sermon-update-img img{
    width:100%;
    height:160px;
}


/*media queries*/
@media (max-width:978px){
    .open{
        display:inline-block;
        position: absolute;
        right: 10px;
    }
    .header-right .menus{
        display:none;
    }
    .header-right{
        width:0px; /* set it to zero since the menu items are no longer there*/
    }
}


@media (max-width:840px){
	.slider .caption h1{
        font-size:3.2em;
        margin-top:10%;
    }
    .slider .caption a{
        font-size: 15px;
    }
    .logos{
        width:130px;
    }
    .bt-menu-trigger{
        right:10px;
        width:40px;
        height:40px;
    }
    
	.logos img:first-of-type{
        width:50px;
        height:50px;
        display:inline-block;
        margin-right:0px;
    }
    .logos img:nth-of-type(2){
        width:76px;
        height:50px;
    }

}
@media (max-width:800px){
    .slider .caption a{
        width:20%;
    }
    .slider .caption h1{
        font-size:3.2em;
        margin-top:20%;
    }
}

@media (max-width:768px){
    .newsletter form .inputs{
        width:60%;
    }
	footer ul:nth-of-type(2) p{
        text-align:left;
        margin-top:5px;
    }
    footer ul:nth-of-type(3){
        margin-top:-20px;
    }
    .header-left .logos{
        padding:0px 5px;
    }
    .header-left .logos a:first-of-type{
        width:60px;
        height:80px;
    }
    .sermon-update {
        width:80%;
        margin:auto;
    }
    .events-icon{
        width:10%;
    }
    .events-txt{
        width:90%;
    }
	
}

@media (max-width:590px){
    .slider .caption a{
        width:25%;
        font-size:12px;
    }
    .slider .caption h1{
        margin-top:25%;
    }
}

@media (max-width:550px){
	.bt-menu ul li a:before{
		font-size:18px;
	}
	body{
		font-size:12px;
	}
	.sermon-update {
        width:100%;
    }
}


@media (max-width:478px){
    .newsletter form .inputs{
        width:100%;
    }
}
@media (max-width:400px){
    .events-icon{
        width:18%;
    }
    .events-txt{
        width:82%;
    }
    footer .social{
        padding:20px 0px;
        width:inherit;
        width: max-content;
        
    }
    footer .social a{
        width:35px;
        height:35px;
        font-size:18px;
    }
    footer ul:first-of-type li a{
        font-size:17px;
    }
    footer ul h3{
        font-size: 19px;
    }
    footer ul p{
        font-size:17px;
    }
    footer .col-sm-12{
        padding-left:5px !important;
        padding-right:0px !important;
    }
    .header-left .logos a h1{
        margin-bottom: 2px;
        font-size: 30px;
    }
}
@media (max-width:382px){
    .newsletter h2{
        font-size: 25px;
    }
}
@media (max-width:320px){
    .header-right ul{
        margin-top:5px;
        padding: 0px;
    }
    .newsletter h2{
        font-size: 19px;
    }
}
@media (max-width:291px){
    .naver .header-left{
        width:220px;
    }
}
@media (max-width:250px){
    
    footer .col-sm-12{
        padding-left:5px !important;
        padding-right:0px !important;
    }
    
}










/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
